@import url("~leaflet/dist/leaflet.css");

body{
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.leaflet-container {
  margin-top: 550px;
  width: 100%;
  height: 1000px;
  z-index:-1; 
  position:absolute;
}
